html {
  box-sizing: border-box;
  background: #47b3c6;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  width: 100%;
  padding: 20px;
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #f7f7f7;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  color: #757575;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

ul.suggestions {
  margin: 10px 0 0;
  padding: 0;
  position: relative;
}
.suggestions li {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  background-color: #f7f7f7;
  list-style: none;
  color: #757575;
  font-weight: 400;
  text-transform: capitalize;
}

li.instructions {
  background: #47b3c6;
  border: none;
  box-shadow: none;
  justify-self: center;
  text-transform: none;
  font-size: 25px;
  color: #f7f7f7;
}

.hl {
  color: rgb(246, 148, 96);
}
